* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

body {
  background-color: rgb(227, 242, 243);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 65%;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.main{
  display: flex;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}

.panel{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.panel button{
  margin: 0;
  margin-bottom: 0.5rem;
  width:calc(50% - 10px);
}

.range-details{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0.5rem;
}

.range{
  width: 100%;
}

.image-container{
  margin-left: 1rem;
  flex-grow: 1;
}

.image{
  width: 100%;
  height: auto;
  max-height: 340px;
}

.file{
  display: none;
}
.footer{
  display: flex;
  justify-content: flex-end;
}

.footer button:first-child{
  justify-self: flex-start;
  margin-right: auto;
}

button{
  padding: 0.5rem;
  cursor: pointer;
  margin: 0.5rem;
  border: none;
  border-radius: 3px;
  background-color: rgb(102, 102, 101);
  color: #fff;
}

.active-btn{
  background-color: rgb(7, 119, 211);
  color: #fff;
}

.rotation{
  margin-top: 1rem;
}

.rotate-buttons{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.rotate-buttons button{
  background-color: #fff;
  color:rgb(128, 126, 126);
  border: 1px solid #ccc;
  margin: 0.2rem;
}